
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.data{
  padding: 20px 25px !important;
  margin: auto;
  background-color: rgb(46, 45, 45);
  border-radius: 5px;
  color: white;
}


