{% extends 'base.html' %}

{% block title %}Student Data{% endblock %}

{% block content %}
<div class="container">
    <h1   class="display-4 text-center my-5 ">Student Data</h1><br>
    {% if students %}
        
        <div class="table-responsive">
            <table class="table table-light table-hover  table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center" scope="col">S.No</th>
                        <th class="text-center" scope="col">Id</th>
                        <th class="text-center" scope="col">Name</th>
                        <th  class="text-center" scope="col">Class</th>
                        <th class="text-center"  scope="col">Section</th>
                        <th class="text-center"  scope="col">Gender</th>
                        <th class="text-center"  scope="col">Address</th>
                        <th class="text-center"  scope="col">Dob</th>
                        <th class="text-center"  scope="col">Phone_No.</th>
                        <th  class="text-center"  scope="col">Email</th>
                        <th class="text-center"  scope="col">Created_at</th>
                        <th  class="text-center"  scope="col">Delete</th>
                        <th class="text-center"  scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td class="text-center">{{ student.sno }}</td>
                        <td class="text-center">{{ student.id }}</td>
                        <td class="text-center">{{ student.name }}</td>
                        <td class="text-center">{{ student.class_ }}</td>
                        <td class="text-center">{{ student.section }}</td>
                        <td class="text-center">{{ student.gender }}</td>
                        <td  class="text-center">{{ student.address }}</td>
                        <td class="text-center">{{ student.dob }}</td>
                        <td class="text-center">{{ student.mobile_no }}</td>
                        <td class="text-center">{{ student.email }}</td>
                        <td class="text-center">{{ student.created_at }}</td>
                        <td>
                            <a href="{{ url_for('delete', id=student.id) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                        <td>
                            <a href="{{ url_for('update', id=student.id) }}" class="btn btn-warning btn-sm">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="display-4">No student data found.</h1>
    {% endif %}
</div>
{% endblock %}